@import './pages/iphone';

$darkBackgroundBlue: #2997ff;
$whiteBackgroundBlue: #0066cc;

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    img{
        &:hover {
            cursor: pointer;
        }
    }
    .divider{
        display: flex;
        height: 1rem;

    }
    .darkLinks{
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            text-decoration: none;
            color: $darkBackgroundBlue;
            font-size: 1.1rem;
            &:hover{
                text-decoration: underline;
            }
        }
        .svg-holder{
            margin-top: 3px;
            .bi{
                margin-left: 0.2rem;
                fill: $darkBackgroundBlue;
                width: 0.8rem;
                height: 0.8rem;
                
            }
        }
    }
    .whiteLinks{
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            text-decoration: none;
            color: $whiteBackgroundBlue;
            font-size: 1.1rem;
            &:hover{
                text-decoration: underline;
            }
        }
        .svg-holder{
            margin-top: 3px;
            .bi{
                fill: $whiteBackgroundBlue;
                margin-left: 0.2rem;
                width: 0.8rem;
                height: 0.8rem;
            }
        }
    }
    nav {
        position: fixed;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(10px);
        display: flex;
        justify-content: center;
        padding: 0.5rem 0 0.5rem 0;
        ul{
            display: flex;
            li {
                list-style: none;
                margin: 0 1.4rem 0 1.4rem;
                a {
                    text-decoration: none;
                    color: rgb(209, 209, 209);
                    font-size: 0.7rem;
                    letter-spacing: 0.5px;
                    font-weight: 100;
                }
            }
        }
        .apple-link{
            display: flex;
            justify-content: center;
        }
        .apple-logo {
            max-width: 0.9rem;
            max-height: 1.1rem;
        }
        .search-logo{
            max-width: 1rem;
            max-height: 1.3rem;
            
        }
        .hidden {
            display: none;
        }
        @media screen and (max-width: 1100px) {
            ul{
                display: none;
            }
            .hidden{
                display: flex;
            }
        }
    }
    span{
        font-family: 'Roboto', sans-serif;
    }
    
    .container {
        display: flex;
        align-items: center;
        min-height: 40rem;
        background-color: black;
        padding-top: 6rem;
        flex-direction: column;
        &:hover{
            cursor: pointer;
        }
        .hero-p {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: white;
            margin-bottom: 1rem;
            span {
                font-size: 1.7rem;
                font-family: 'Roboto', sans-serif;
            }
            .hero-span{
                font-size: 3.5rem;
                font-family: 'Roboto', sans-serif;
                
            }
        }
        .img-div {
            background: url(../img/hero.jpg);
            min-height: 30rem;
            min-width: 55rem;
            background-size: cover;
        }
        @media screen and (max-width: 1100px) {
            min-height: 25rem;
            .hero-p {
                span {
                    font-size: 1rem;
                }
                .hero-span{
                    font-size: 2.7rem;
                    
                }
            }
            .img-div {
                background: url(../img/hero.jpg);
                min-height: 20rem;
                min-width: 40rem;
                background-size: cover;
            }
        }
        @media all and (max-width: 700px) {
            min-height: 20rem;
            .hero-p {
                span {
                    font-size: .8rem;
                }
                .hero-span{
                    font-size: 2.5rem;
                    
                }
            }
            .img-div {
                background: url(../img/hero.jpg);
                min-height: 15rem;
                min-width: 30rem;
                background-size: cover;
            }
        }
    }
    .first-section{
        min-height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3.3rem;
        &:hover {
            cursor: pointer;
        }
        .p-tag{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 1rem;
            span{
                font-family: 'Roboto', sans-serif;
            }
            .big-font{
                font-size: 3.5rem;
                color: rgba(17, 17, 17, 0.933);
            }
            .small-font {
                font-size: 1.7rem;
                color: rgba(28, 28, 28, 0.933);
            }
        }
        .img-container {
            margin-top: 1rem;
            display: flex;
            justify-content: center;
            .big{
                background: url(../img/big.jpg);
                background-size: cover;
                min-height: 27rem;
                min-width: 27rem;
            }
            .bigger{
                background: url(../img/bigger.jpg);
                background-size: cover;
                min-height: 27rem;
                min-width: 27rem;
            }
        }
    }
    .second-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 4rem;
        &:hover{
            cursor: pointer;
        }
        .holder{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 1rem;
            span {
                font-family: 'Roboto', sans-serif;
                font-size: 1.7rem;
            }
            .watch-logo{
                display: flex;
                span{
                    font-size: 2.9rem;
                    font-weight: bolder;
                }
            }
            .orange {
                color: rgb(170, 123, 35);
                font-size: 1.3rem;
                margin-bottom: 1rem;
            }
        }
        .img{
            margin-top: 3rem;
            background: url(../img/watch.jpg);
            background-size: cover;
            min-width: 85rem;
            min-height: 25rem;
        }
        @media screen and (max-width: 1100px) {
            .img{
                background: url(../img/watch.jpg);
                background-size: cover;
                min-width: 60rem;
                min-height: 20rem;
            }
        }
        @media all and (max-width: 700px) {
            .img{
                background: url(../img/watch.jpg);
                background-size: cover;
                min-width: 30rem;
                min-height: 10rem;
            }
        }
    }
    .third-section{
        display: flex;
        justify-content: center;
        .left, .right{
            min-width: 48.5vw;
            min-height: 30rem;
            background-color: black;
            margin: 0.4rem;
            padding-top: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            &:hover{
                cursor: pointer;
            }
            span{
                color: white;
                font-size: 1.2rem;
            }
        }
        .left-p-tag{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 1rem;
            
            .bold{
                font-size: 2.5rem;
                margin-bottom: 1rem;
            }
        }
        .left-img{
            margin-top: 3rem;
            background: url(../img/airpods.jpg);
            background-size: cover;
            min-width: 27rem;
            min-height: 22rem;
            
        }
        .right-p-tag{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 1rem;
            .right-watch-logo{
                .bold{
                    font-size: 2.5rem;
                }
            }
            .red {
                color: rgb(192, 0, 0);
                margin-bottom: 1rem;
            }
            
        }
        .right-img{
            margin-top: 3rem;
            background: url(../img/right-watch.jpg);
            background-size: cover;
            min-width: 30rem;
            min-height: 20rem;
        }
        @media screen and (max-width: 1100px) {
            .right-img{
                background: url(../img/right-watch.jpg);
                background-size: cover;
                min-width: 20rem;
                min-height: 13rem;
            }
            .left-img{
                background: url(../img/airpods.jpg);
                background-size: cover;
                min-width: 20rem;
                min-height: 15rem;
                
            }
            .left, .right{
                min-height: 23rem;
            }
        }
        @media all and (max-width: 700px) {
            flex-direction: column;
        }
    }
    .fourth-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .first,.second,.third,.fourth{
            min-width: 48.5vw;
            min-height: 35rem;
            margin: 0.4rem;
            padding-top: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            &:hover{
                cursor: pointer;
            }
            span{
                color: rgb(95, 95, 95);
                font-size: 1.2rem;
            }
        }
        .first{
            .first-p-tag{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 1rem;
                .first-watch-logo{
                    .bold{
                        color: black;
                        font-size: 2rem;
                        font-weight: bolder;
                    }
                }
                .red {
                    color: rgb(192, 0, 0);
                    margin-bottom: 0.6rem;
                }
                
            }
            .first-img{
                background: url(../img/sect-4-watchs.jpg);
                background-size: cover;
                min-width: 30rem;
                min-height: 27rem;
            }
        }
        .second{
            .second-p-tag{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 1rem;
                .second-watch-logo{
                    margin-bottom: 0.5rem;
                    .bold{
                        color: black;
                        font-size: 2rem;
                        font-weight: bolder;
                        
                    }
                }
                
            }
            .second-img{
                background: url(../img/sect-4-fitness.jpeg);
                background-size: cover;
                min-width: 45rem;
                min-height: 24rem;
            }
        }
        
        .third{
            background: url(../img/sect-3-education.jpg);
            background-size: cover;
            padding: 0;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            span{
                color: white;
            }
            .third-p-tags,p{
                display: flex;
                flex-direction: column;
                align-items: center;
                .bold-tags{
                    span{
                        font-size: 2.5rem;
                    }
                }
                .small-tags{
                    margin-bottom: 1rem;
                    span{
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        font-weight: 100;
                        font-size: 1.5rem;
                    }
                }
                a{
                    text-decoration: none;
                    color: white;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-weight: 100;
                    font-size: 1.2rem;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }

        .fourth{
            .fourth-p-tag{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 1rem;
                .fourth-watch-logo{
                    margin-bottom: 0.5rem;
                    .bold{
                        color: black;
                        font-size: 2rem;
                        font-weight: bolder;
                    }
                }
                
            }
            .fourth-img{
                margin-top: 4rem;
                background: url(../img/sect-4-card.jpeg);
                background-size: cover;
                min-width: 25rem;
                min-height: 20rem;
            }
        }
    }
    footer{
        background-color: rgb(25, 25, 25);
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p,a{
            font-size: 0.8rem;
            color: white;
        }
        a{
            text-decoration: none;
            color: white;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
